header {
  background-color: #f8eedc;
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  font-family: 'Poppins', sans-serif;
}

header a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-right: 1.5rem;
  width: 79px;
  height: 48px;
}

button {
  background-color: #050C42;
  cursor: pointer;
  border: none;
}

.logo {
  width: 100px;
  height: auto;
}

.logotipo {
  width: 400px;
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}

