footer {
  background-color: #765c3b;
  height: 83px;
  width: 100%;
  bottom: 0;
  position: absolute;
  color: #0c0904;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

span {
  margin-right: 0.5rem;
  margin-top: 0.75rem;
  font-size: 36px;
}



